.Input {
    display: block;
    width: 100%;
    border-radius: 0;
    margin-bottom: 32px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 32px;
    padding: 8px;
    text-align: center;
    font-family: 'Neucha', cursive;
}