@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  font-family: 'Neucha', cursive;
  padding: 64px 16px;
  background: #175642;
  color: #044226;
  font-weight: 600;
  height: 100vh;
}
